@import "tailwindcss";
@import "tw-animate-css";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-mono: "Geist Mono", "Fira Code", monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-illustration: var(--illustration);
  --color-border-illustration: var(--border-illustration);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-hue-rotate: hue-rotate 4s infinite;
  --animate-scan: scan 3s infinite;
  --animate-capture: capture 0.1s infinite;
  --animate-reveal: reveal 0.8s ease-in;
  --animate-logo-reveal: logo-reveal 0.5s ease-in-out;
  --animate-enter-from-right: enter-from-right 0.3s ease-out;
  --animate-enter-from-left: enter-from-left 0.3s ease-out;
  --animate-exit-to-right: exit-to-right 0.3s ease-in;
  --animate-exit-to-left: exit-to-left 0.3s ease-in;
  --animate-scale-in: scale-in 0.2s ease-out;
  --animate-scale-out: scale-out 0.2s ease-in;
  --animate-fade-in: fade-in 0.2s ease-out;
  --animate-fade-out: fade-out 0.2s ease-in;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes hue-rotate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }

  @keyframes scan {
    from {
      transform: translateY(0);
    }
    50% {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes capture {
    from {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes reveal {
    from {
      clip-path: circle(0% at 50% 50%);
    }
    to {
      clip-path: circle(100% at 50% 50%);
    }
  }

  @keyframes logo-reveal {
    from {
      transform: scale(0);
      opacity: 0;
      filter: blur(12px);
    }
    75% {
      opacity: 1;
      transform: scale(1.1);
      filter: blur(0px);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes enter-from-right {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enter-from-left {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes exit-to-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  @keyframes exit-to-left {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @keyframes scale-in {
    from {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.9);
    }
    to {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
  }

  @keyframes scale-out {
    from {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
    to {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.95);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  :root {
    --background: var(--color-white);
    --foreground: var(--color-zinc-950);
    --card: var(--color-white);
    --illustration: var(--color-white);
    --card-foreground: var(--color-zinc-950);
    --popover: var(--color-white);
    --popover-foreground: var(--color-zinc-950);
    --primary: var(--color-zinc-950);
    --primary-foreground: var(--color-white);
    --secondary: var(--color-zinc-100);
    --secondary-foreground: var(--color-zinc-950);
    --muted: var(--color-zinc-100);
    --muted-foreground: var(--color-zinc-500);
    --accent: var(--color-zinc-100);
    --accent-foreground: var(--color-zinc-950);
    --destructive: var(--color-red-600);
    --destructive-foreground: var(--color-white);
    --border: var(--color-zinc-200);
    --border-illustration: color-mix(
      in oklab,
      var(--color-zinc-950) 7.5%,
      transparent
    );
    --input: var(--color-zinc-200);
    --ring: var(--color-zinc-950);
    --chart-1: var(--color-blue-500);
    --chart-2: var(--color-indigo-500);
    --chart-3: var(--color-purple-500);
    --chart-4: var(--color-indigo-400);
    --chart-5: var(--color-red-500);
    --radius: 0.5rem;
    --counter-start: 1;
  }

  .dark {
    --background: var(--color-zinc-950);
    --foreground: var(--color-white);
    --card: var(--color-zinc-950);
    --card-foreground: var(--color-white);
    --popover: var(--color-zinc-950);
    --popover-foreground: var(--color-white);
    --primary: var(--color-white);
    --primary-foreground: var(--color-zinc-950);
    --secondary: var(--color-zinc-800);
    --secondary-foreground: var(--color-white);
    --muted: var(--color-zinc-800);
    --muted-foreground: var(--color-zinc-400);
    --accent: var(--color-zinc-800);
    --accent-foreground: var(--color-white);
    --destructive: var(--color-red-600);
    --destructive-foreground: var(--color-white);
    --border: var(--color-zinc-800);
    --input: var(--color-zinc-800);
    --ring: var(--color-white);
  }

  * {
    @apply outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  .line {
    counter-increment: line;
    @apply relative pl-10 before:absolute before:opacity-35 before:inset-y-0 before:transition-colors before:duration-200 before:content-[counter(line)] before:text-xs before:left-0 before:text-right before:w-6 before:mr-6 before:my-auto hover:before:opacity-100;
  }

  .line:first-of-type {
    counter-set: line var(--counter-start);
  }
}

[data-theme="quartz"] {
  --radius: 0.625rem;
  --color-background: var(--color-white);
  --color-foreground: var(--color-zinc-950);
  --color-card: var(--color-white);
  --color-illustration: var(--color-white);
  --color-card-foreground: var(--color-zinc-950);
  --color-popover: var(--color-white);
  --color-popover-foreground: var(--color-zinc-950);
  --color-primary: var(--color-indigo-500);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-sky-100);
  --color-secondary-foreground: var(--color-sky-600);
  --color-muted: var(--color-zinc-100);
  --color-muted-foreground: var(--color-zinc-600);
  --color-accent: var(--color-zinc-100);
  --color-accent-foreground: var(--color-zinc-800);
  --color-destructive: var(--color-red-600);
  --color-border: var(--color-zinc-200);
  --color-border-illustration: color-mix(
    in oklab,
    var(--color-zinc-950) 7.5%,
    transparent
  );
  --color-input: var(--color-zinc-200);
  --color-ring: var(--color-indigo-500);

  @variant dark {
    --color-background: var(--color-white);
    --color-foreground: var(--color-zinc-950);
    --color-card: var(--color-white);
    --color-illustration: var(--color-white);
    --color-card-foreground: var(--color-zinc-950);
    --color-popover: var(--color-white);
    --color-popover-foreground: var(--color-zinc-950);
    --color-primary: var(--color-indigo-500);
    --color-primary-foreground: var(--color-white);
    --color-secondary: var(--color-sky-100);
    --color-secondary-foreground: var(--color-sky-600);
    --color-muted: var(--color-zinc-100);
    --color-muted-foreground: var(--color-zinc-600);
    --color-accent: var(--color-zinc-100);
    --color-accent-foreground: var(--color-zinc-800);
    --color-destructive: var(--color-red-600);
    --color-border: var(--color-zinc-200);
    --color-border-illustration: color-mix(
      in oklab,
      var(--color-zinc-950) 7.5%,
      transparent
    );
    --color-input: var(--color-zinc-200);
    --color-ring: var(--color-indigo-500);
  }

  @apply scheme-light;
}

[data-theme="dark"] {
  --color-background: var(--color-zinc-950);
  --color-foreground: var(--color-white);
  --color-card: color-mix(
    in oklab,
    var(--color-zinc-800) 15%,
    var(--color-zinc-950)
  );
  --color-illustration: var(--color-zinc-900);
  --color-card-foreground: var(--color-white);
  --color-popover: var(--color-zinc-900);
  --popover-foreground: var(--color-white);
  --color-primary: var(--color-white);
  --color-primary-foreground: var(--color-zinc-950);
  --color-secondary: var(--color-zinc-800);
  --color-secondary-foreground: var(--color-white);
  --color-muted: var(--color-zinc-800);
  --color-muted-foreground: var(--color-zinc-300);
  --color-accent: var(--color-zinc-800);
  --color-accent-foreground: var(--color-white);
  --color-destructive: var(--color-red-700);
  --color-destructive-foreground: var(--color-white);
  --color-border: color-mix(in oklab, var(--color-white) 10%, transparent);
  --color-border-illustration: color-mix(
    in oklab,
    var(--color-white) 7.5%,
    transparent
  );
  --color-input: var(--color-zinc-800);
  --color-ring: var(--color-zinc-600);
  --color-chart-1: var(--color-blue-500);
  --color-chart-2: var(--color-green-500);
  --color-chart-3: var(--color-yellow-500);
  --color-chart-4: var(--color-purple-500);
  --color-chart-5: var(--color-pink-500);

  @apply scheme-dark;
}

[data-theme="svelte"] {
  --radius: 0.5rem;
  --color-background: var(--color-white);
  --color-foreground: var(--color-zinc-950);
  --color-card: var(--color-zinc-50);
  --color-card-foreground: var(--color-zinc-950);
  --color-popover: var(--color-white);
  --color-popover-foreground: var(--color-zinc-950);
  --color-primary: var(--color-orange-600);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-sky-100);
  --color-secondary-foreground: var(--color-sky-600);
  --color-muted: var(--color-zinc-100);
  --color-muted-foreground: var(--color-zinc-600);
  --color-accent: var(--color-zinc-700);
  --color-accent-foreground: var(--color-white);
  --color-destructive: var(--color-red-600);
  --color-border: var(--color-zinc-200);
  --color-input: var(--color-zinc-200);
  --color-ring: var(--color-orange-600);
}

/*
  ---break---
*/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*
  ---break---
*/

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/*
  ---break---
*/

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
